* {
    font-family: 'Segoe UI';
    margin: 0 auto;
    text-align: center;
}
.obrazek01.jpg {
    max-width: 100%;
}
h1 {
    margin: 0 auto;
    text-align: center;
    font-size: 6em;
}
li {
    font-family: 'Segoe UI';
    color: black;
}
h2 {
    font-family: 'Segoe UI';
}
img {
display: flex;
margin: 0 auto;
text-align: center;
box-align: center;   
}

table {
    text-align: left;
}
.obrazek05.jpg {
max-width: 100%;
}
div {
    margin: 6vw;
}
.logo {
    position: fixed;
}