* {
    font-family: 'Segoe UI';
    margin: 0 auto;
    text-align: center;
}
.obrazek01.jpg {
    max-width: 100%;
}
h1 {
    margin: 0 auto;
    text-align: center;
    font-size: 6em;
}
li {
    padding: 0;
    margin: 0;
    text-align: center;
    position: center;
    box-align: center;
    max-width: 5%;
}
h2 {
    font-family: 'Segoe UI';
}
img {
display: flex;
margin: 0 auto;
text-align: center;
box-align: center;   
}

table {
    text-align: left;
}
.obrazek05.jpg {
max-width: 100%;
}
div {
    margin: 6vw;
}
.logo {
    position: fixed;
}


ul.list li{
    margin: 0 auto;
}
h3:hover{
    font-size: 5em;
    transition: 3s ease;
}