img {
    margin: 0px auto;
    width: 100vw;
}
h1 {
    text-align: center;
<<<<<<< HEAD
    font-size: ;
    font-family: ;
    color: ;
    
}
li 
=======
    font-size: 5vw;
    font-family: 'Segoe UI';
    color: black;
}
h2 {
    font-family: 'Segoe UI';
}

.flex-container {

}
.flex-item {
    width: 50vw
}
.
>>>>>>> 32007d6164ea5ddb848797ce0ff63cb5cc2b2ee6
